<section class="cat">
    <h2 class="cat_title">Catégorie</h2>
    <p class="cat_presentation">Veuillez choisir la catégorie où vous souhaitez être évaluer</p>
    <form action="" class="cat_form">
        <label for="name">Catégorie</label>
        <input type="text" id="cat" name="cat" placeholder="Recherchez une catégorie">
        <button class="btn--icon">
           OK
        </button>
    </form>
    
        <div class="cat_container" *ngFor="let cat of cats">
          <button (click)="navigateToQuiz()">{{cat}}</button>
        </div>
      </section>

<!-- [class.answer_container--selected]="isAnswerSelected(answer?.answerLabel, questionId)" -->